attrs
distlib
exceptiongroup
execnet
filelock
hypothesis
iniconfig
packaging
platformdirs
pluggy
py
pyparsing
pytest
pytest-forked
pytest-xdist
six
sortedcontainers
tomli
tox
virtualenv
pylint
pytest-cov
regex
pandas
mock
tox-gh-actions
notebook
coverage
